@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "extrabold-fond";
  src: url("../assets/fonts/extrabold.ttf");
}
@font-face {
  font-family: "regular-fond";
  src: url("../assets/fonts/PlayfairDisplay-Regular.ttf");
}
/*estilos nav*/
.navbar {
  background-color: #DAF0F3;
  border-radius: 3.125rem;
  margin-top: 1rem;
  margin-bottom: 5rem;
  text-decoration: none;
  font-family: "extrabold-fond";
  color: #776140;
  font-size: 1.25rem;
}

.nav-item a {
  color: #776140;
}

.logo {
  width: 16rem;
  height: 8rem;
}

.iconos-nav {
  width: 2rem;
  height: 2rem;
}

.vacio {
  color: #776140;
  font-family: "extrabold-fond";
}

.dropdown-menu .iconos-nav {
  position: relative;
  left: 50px;
}

/*Estilo sección H O M E*/
.principal {
  background-image: url("../assets/img/foto-main.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 3.125rem;
}
.principal .eatme {
  font-size: 70px;
}
.principal a {
  text-decoration: none;
  font-family: "extrabold-fond";
  font-size: 12rem;
  color: #F5F1EC;
  text-align: center;
  padding-top: 8rem;
  padding-right: 5rem;
  padding-bottom: 5rem;
  padding-left: 5rem;
}

section div .titulos {
  font-family: "extrabold-fond";
  font-size: 2.5em;
  text-align: center;
  color: #776140;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.conteiner {
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
}
.conteiner .conteiner-imagenes {
  position: relative;
}
.conteiner .conteiner-imagenes div .img-bigdream {
  width: 30rem;
  height: 25rem;
  box-shadow: 4px 4px 8px #313131;
  border-radius: 3.125rem;
}
.conteiner .conteiner-imagenes div a {
  position: absolute;
  top: 13rem;
  left: 7rem;
  text-decoration: none;
  font-family: "extrabold-fond";
  font-size: 3.5rem;
  color: #F5F1EC;
}
.conteiner .conteiner-imagenes div a:hover {
  transform: scale(1.4);
}
.conteiner .conteiner-gift {
  position: relative;
}
.conteiner .conteiner-gift div .img-regalo {
  width: 30rem;
  height: 25rem;
  box-shadow: 4px 4px 8px #313131;
  border-radius: 3.125rem;
}
.conteiner .conteiner-gift div a {
  position: absolute;
  top: 13rem;
  left: 7rem;
  text-decoration: none;
  font-family: "extrabold-fond";
  font-size: 3.5rem;
  color: #F5F1EC;
}
.conteiner .conteiner-gift div a:hover {
  transform: scale(1.3);
}

/*Estilo seccion about us-dentro de HOME*/
section div .titulos {
  font-family: "extrabold-fond";
  font-size: 2.5em;
  text-align: center;
  color: #776140;
  margin-top: 5rem;
  margin-bottom: 5rem;
}
section .seccion-aboutus {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 4rem;
  margin: 4rem;
}
section .seccion-aboutus .img-aboutus {
  width: 480px;
  height: 400px;
  box-shadow: 4px 4px 8px #313131;
  border-radius: 3.125rem;
}
section .seccion-aboutus .texto-aboutus p {
  font-family: "regular-fond";
  font-size: 22px;
  color: #776140;
  text-align: center;
}

.eatme:hover {
  transform: scale(1.5);
}

/*ESTILO F O O T E R*/
.contenedor-footer {
  background-color: #DAF0F3;
  border-radius: 3.125rem;
  margin-bottom: 5rem;
  margin-bottom: 1rem;
  color: #776140;
}
.contenedor-footer h2 {
  font-family: "extrabold-fond";
  font-size: 2.5em;
  text-align: center;
  color: #776140;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.footer {
  display: flex;
  justify-content: space-evenly;
  gap: 10rem;
  padding-bottom: 3.125rem;
}
.footer .secciones-footer ul {
  list-style: none;
}
.footer .secciones-footer ul li a {
  font-family: "extrabold-fond";
  color: #776140;
  text-decoration: none;
}
.footer .conteiner-direccion {
  display: flex;
}
.footer .conteiner-direccion .icono-ubicacion {
  width: 4rem;
  padding-top: 0.625rem;
  padding-right: 2rem;
}
.footer .conteiner-direccion .texto-direccion {
  font-family: "extrabold-fond";
}
.footer .contenedor-redessociales h3 {
  font-family: "extrabold-fond";
  text-align: center;
}
.footer .contenedor-redessociales ul {
  list-style: none;
  display: flex;
  gap: 0.5rem;
}
.footer .contenedor-redessociales ul .iconos-redessociales {
  width: 3rem;
  height: 3rem;
}

/*ESTILO SECCIÓN A B O U T U S */
section div .titulos {
  font-family: "extrabold-fond";
  font-size: 2.5em;
  text-align: center;
  color: #776140;
  margin-top: 5rem;
  margin-bottom: 5rem;
}
section .seccion-aboutus {
  display: flex;
  flex-direction: column;
}
section .seccion-aboutus .contenedor-aboutus1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
section .seccion-aboutus .contenedor-aboutus1 div .img-aboutus {
  width: 250px;
  height: 250px;
  box-shadow: 2px 2px 4px #313131;
  border-radius: 1.125rem;
}
section .seccion-aboutus .contenedor-aboutus1 div :first-child {
  font-family: "extrabold-fond";
}
section .seccion-aboutus .contenedor-aboutus1 div p {
  font-family: "regular-fond";
  font-size: 22px;
  color: #776140;
  text-align: center;
}
section .seccion-aboutus .contenedor-aboutus2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
section .seccion-aboutus .contenedor-aboutus2 div .img-aboutus {
  width: 250px;
  height: 250px;
  box-shadow: 2px 2px 4px #313131;
  border-radius: 1.125rem;
}
section .seccion-aboutus .contenedor-aboutus2 div :first-child {
  font-family: "extrabold-fond";
}
section .seccion-aboutus .contenedor-aboutus2 div p {
  font-family: "regular-fond";
  font-size: 22px;
  color: #776140;
  text-align: center;
}
section .seccion-aboutus .contenedor-aboutus3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
section .seccion-aboutus .contenedor-aboutus3 div .img-aboutus {
  width: 250px;
  height: 250px;
  box-shadow: 2px 2px 4px #313131;
  border-radius: 1.125rem;
}
section .seccion-aboutus .contenedor-aboutus3 div :first-child {
  font-family: "extrabold-fond";
}
section .seccion-aboutus .contenedor-aboutus3 div p {
  font-family: "regular-fond";
  font-size: 22px;
  color: #776140;
  text-align: center;
}

.body {
  background-color: #F9C5DC;
}

/*ESTILO T A K E A W A Y*/
main .titulos {
  font-family: "extrabold-fond";
  font-size: 2.5em;
  text-align: center;
  color: #776140;
  margin-top: 5rem;
  margin-bottom: 5rem;
}
main .takeaway-texto {
  font-family: "regular-fond";
  color: #776140;
  text-align: center;
  font-size: 2rem;
}
main .conteiner-takeaway .conteiner-local {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
main .conteiner-takeaway .conteiner-local .contenedor-img-local .img-local {
  width: 20rem;
  height: 25rem;
  box-shadow: 4px 4px 8px #313131;
  border-radius: 3.125rem;
}
main .conteiner-takeaway .conteiner-local .takeaway {
  font-family: "regular-fond";
  font-size: 1.5rem;
  color: #776140;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}
main .conteiner-takeaway .conteiner-local .conteiner-bici .img-bici {
  width: 20rem;
  height: 25rem;
  box-shadow: 4px 4px 8px #313131;
  border-radius: 3.125rem;
}

/*Estilo sección T I E N D A*/
/*Cards hechas con Flex*/
section .titulos {
  font-family: "extrabold-fond";
  font-size: 2.5em;
  text-align: center;
  color: #776140;
  margin-top: 5rem;
  margin-bottom: 5rem;
}
section .cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 5rem;
}
section .cards .cards-macarons {
  background-color: #f5f2f2;
  box-shadow: 7px 7px 13px #313131;
  border-radius: 1rem;
  overflow: hidden;
  width: 200px;
  height: 350px;
  cursor: pointer;
}
section .cards .cards-macarons .cards-img {
  width: 100%;
}
section .cards .cards-macarons .cards-texto, section .cards .cards-macarons .galeria .boxes .box .precio, .galeria .boxes .box section .cards .cards-macarons .precio {
  font-family: "extrabold-fond";
  color: #776140;
  text-align: center;
  font-size: 1.5rem;
}
section .cards .cards-macarons .precio {
  font-family: "regular-fond";
  color: #776140;
  font-size: 1.5rem;
}
section .cards .cards-macarons .button-shop {
  border-radius: 3.125rem;
  background-color: #F5F1EC;
  border-style: solid;
  border-color: #776140;
  width: 4rem;
  height: 2rem;
  font-family: "extrabold-fond";
  color: #776140;
  font-size: 0.9rem;
}

/*Gifts hechos con flex*/
.galeria .galeria-texto .titulos {
  font-family: "extrabold-fond";
  color: #776140;
  text-align: center;
  font-size: 1.9rem;
}
.galeria .galeria-texto p {
  font-family: "regular-fond";
  color: #776140;
  text-align: center;
  font-size: 1.9rem;
}
.galeria .boxes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  margin-top: 5rem;
}
.galeria .boxes .box {
  background-color: #f5f2f2;
  box-shadow: 7px 7px 13px #313131;
  border-radius: 1rem;
  overflow: hidden;
  width: 300px;
  height: 500px;
  cursor: pointer;
}
.galeria .boxes .box img {
  width: 100%;
}
.galeria .boxes .box .cards-texto, .galeria .boxes .box .precio {
  font-family: "extrabold-fond";
  color: #776140;
  text-align: center;
  font-size: 1.5rem;
}
.galeria .boxes .box .precio {
  font-family: "regular-fond";
}
.galeria .boxes .box .button-shop {
  border-radius: 3.125rem;
  background-color: #F5F1EC;
  border-style: solid;
  border-color: #776140;
  width: 4rem;
  height: 2rem;
  font-family: "extrabold-fond";
  color: #776140;
  font-size: 0.9rem;
}

.box:hover {
  transform: scale(1.1);
  box-shadow: 13px 15px 37px black;
}

.cards-macarons:hover {
  transform: scale(1.2);
  box-shadow: 13px 15px 37px black;
}

.form-login {
  position: relative;
  background-color: #f5f2f2;
  border-radius: 1.125rem;
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 300px;
  padding: 1.5rem;
}
.form-login .texto-login {
  font-family: "extrabold-fond";
  color: #776140;
}
.form-login div {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.form-login div div .controls {
  border-radius: 1.125rem;
  width: 250px;
  height: 30px;
  border-style: solid;
  border-color: #776140;
}
.form-login div div .button-login {
  border-radius: 1.125rem;
  background-color: #F5F1EC;
  border-style: solid;
  border-color: #776140;
  width: 4rem;
  height: 2rem;
  font-family: "extrabold-fond";
  color: #776140;
  font-size: 0.9rem;
  translate: 200px;
}
.form-login div a {
  text-decoration: none;
  font-family: "regular-fond";
  color: #776140;
  text-align: end;
}

/*ESTILO C O N T A C T O*/
main .titulos {
  font-family: "extrabold-fond";
  font-size: 2.5em;
  text-align: center;
  color: #776140;
  margin-top: 5rem;
  margin-bottom: 5rem;
}
main div .contacto-texto {
  color: #776140;
  font-family: "regular-fond";
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 4rem;
  font-size: 1.5rem;
  text-align: justify;
}
main div .contacto {
  display: flex;
  justify-content: space-evenly;
}
main div .contacto .formulario {
  font-family: "extrabold-fond";
  color: #776140;
  background-color: #f5f2f2;
  border-radius: 1.125rem;
}
main div .contacto .formulario .form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 2rem;
}
main div .contacto .formulario .form .formulario-texto-nombre {
  display: flex;
  flex-direction: column;
}
main div .contacto .formulario .form .formulario-texto-nombre .rectangulo {
  border-radius: 0.3125rem;
  border-style: solid;
  border-color: #776140;
}
main div .contacto .formulario .form .formulario-texto-email {
  display: flex;
  flex-direction: column;
}
main div .contacto .formulario .form .formulario-texto-email .rectangulo {
  border-radius: 0.3125rem;
  border-style: solid;
  border-color: #776140;
}
main div .contacto .formulario .form .formulario-texto-asunto {
  display: flex;
  flex-direction: column;
}
main div .contacto .formulario .form .formulario-texto-asunto .rectangulo {
  border-radius: 0.3125rem;
  border-style: solid;
  border-color: #776140;
}
main div .contacto .formulario .form .formulario-texto-mensaje {
  display: flex;
  flex-direction: column;
}
main div .contacto .formulario .form .formulario-texto-mensaje .rectangulo {
  border-radius: 0.3125rem;
  border-style: solid;
  border-color: #776140;
  width: 236px;
  height: 150px;
}
main div .contacto .formulario .form .formulario-boton .button {
  border-radius: 3.125rem;
  background-color: #F5F1EC;
  border-style: solid;
  border-color: #776140;
  width: 4rem;
  height: 2rem;
  font-family: "extrabold-fond";
  color: #776140;
  font-size: 0.9rem;
  translate: 150px;
}
main div .contacto div .map {
  width: 350px;
  height: 450px;
  border-radius: 3.125rem;
}

/*Responsive max width 1024px seccion ABOUT US*/
/*responsive max width 1024px seccion TAKEAWAY*/
@media (max-width: 1024px) {
  .conteiner-local {
    display: flex;
    flex-direction: column;
  }
}
/*responsive max width 768px FOOTER*/
@media (max-width: 768px) {
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }
}
/*responsive max width 768px seccion Home*/
@media (max-width: 768px) {
  .conteiner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }
}
/*Responsive max width 768px seccion ABOUT US*/
@media (max-width: 768px) {
  .seccion-aboutus {
    display: flex;
    flex-direction: column;
  }
  .seccion-aboutus .contenedor-aboutus1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }
  .seccion-aboutus .contenedor-aboutus1 div .img-aboutus {
    width: 250px;
    height: 250px;
    box-shadow: 2px 2px 4px #313131;
    border-radius: 1.125rem;
  }
  .seccion-aboutus .contenedor-aboutus1 div :first-child {
    font-family: "extrabold-fond";
  }
  .seccion-aboutus .contenedor-aboutus1 div p {
    font-family: "regular-fond";
    font-size: 22px;
    color: #776140;
    text-align: center;
  }
  .seccion-aboutus .contenedor-aboutus2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }
  .seccion-aboutus .contenedor-aboutus2 div .img-aboutus {
    width: 250px;
    height: 250px;
    box-shadow: 2px 2px 4px #313131;
    border-radius: 1.125rem;
  }
  .seccion-aboutus .contenedor-aboutus2 div :first-child {
    font-family: "extrabold-fond";
  }
  .seccion-aboutus .contenedor-aboutus2 div p {
    font-family: "regular-fond";
    font-size: 22px;
    color: #776140;
    text-align: center;
  }
  .seccion-aboutus .contenedor-aboutus3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }
  .seccion-aboutus .contenedor-aboutus3 div .img-aboutus {
    width: 250px;
    height: 250px;
    box-shadow: 2px 2px 4px #313131;
    border-radius: 1.125rem;
  }
  .seccion-aboutus .contenedor-aboutus3 div :first-child {
    font-family: "extrabold-fond";
  }
  .seccion-aboutus .contenedor-aboutus3 div p {
    font-family: "regular-fond";
    font-size: 22px;
    color: #776140;
    text-align: center;
  }
}
/*responsive max width 768px seccion TIENDA*/
/*responsive max width 768px seccion TAKE AWAY*/
@media (max-width: 768px) {
  main .conteiner-takeaway .conteiner-local {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  main .conteiner-takeaway .conteiner-local .contenedor-img-local .img-local {
    width: 20rem;
    height: 25rem;
  }
  main .conteiner-takeaway .conteiner-local .takeaway {
    font-size: 1.1rem;
  }
  main .conteiner-takeaway .conteiner-local .conteiner-bici .img-bici {
    width: 20rem;
    height: 25rem;
  }
}
/*responsive max width 768px seccion CONTACTO*/
@media (max-width: 768px) {
  .titulos {
    text-align: center;
  }
  .contacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
  }
  .contacto .contacto-texto {
    text-align: center;
    text-align: justify;
  }
  .formulario {
    width: 300px;
    height: 500px;
  }
  .formulario .formulario-texto-mensaje {
    width: 100px;
    height: 27px;
  }
  .formulario .formulario-texto-mensaje {
    height: 150px;
  }
  .map {
    width: 100%;
  }
}
/*responsive footer*/
@media (max-width: 320px) {
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }
}
/*responsive max width 320px seccion Home*/
@media (max-width: 320px) {
  .conteiner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }
}
/*Responsive max width 320px seccion ABOUT US*/
@media (max-width: 320px) {
  .seccion-aboutus {
    display: flex;
    flex-direction: column;
  }
  .seccion-aboutus .contenedor-aboutus1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }
  .seccion-aboutus .contenedor-aboutus1 div .img-aboutus {
    width: 250px;
    height: 250px;
    box-shadow: 2px 2px 4px #313131;
    border-radius: 1.125rem;
  }
  .seccion-aboutus .contenedor-aboutus1 div :first-child {
    font-family: "extrabold-fond";
  }
  .seccion-aboutus .contenedor-aboutus1 div p {
    font-family: "regular-fond";
    font-size: 22px;
    color: #776140;
    text-align: center;
  }
  .seccion-aboutus .contenedor-aboutus2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }
  .seccion-aboutus .contenedor-aboutus2 div .img-aboutus {
    width: 250px;
    height: 250px;
    box-shadow: 2px 2px 4px #313131;
    border-radius: 1.125rem;
  }
  .seccion-aboutus .contenedor-aboutus2 div :first-child {
    font-family: "extrabold-fond";
  }
  .seccion-aboutus .contenedor-aboutus2 div p {
    font-family: "regular-fond";
    font-size: 22px;
    color: #776140;
    text-align: center;
  }
  .seccion-aboutus .contenedor-aboutus3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }
  .seccion-aboutus .contenedor-aboutus3 div .img-aboutus {
    width: 250px;
    height: 250px;
    box-shadow: 2px 2px 4px #313131;
    border-radius: 1.125rem;
  }
  .seccion-aboutus .contenedor-aboutus3 div :first-child {
    font-family: "extrabold-fond";
  }
  .seccion-aboutus .contenedor-aboutus3 div p {
    font-family: "regular-fond";
    font-size: 22px;
    color: #776140;
    text-align: center;
  }
}
/*responsive max width 320px seccion TIENDA*/
@media (max-width: 320px) {
  .cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7.5rem;
  }
  .box {
    flex-direction: column;
  }
}
/*responsive max width 320px seccion TAKEAWAY*/
@media (max-width: 320px) {
  main .conteiner-takeaway .conteiner-local {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  main .conteiner-takeaway .conteiner-local .contenedor-img-local .img-local {
    width: 20rem;
    height: 25rem;
  }
  main .conteiner-takeaway .conteiner-local .takeaway {
    font-size: 1.1rem;
  }
  main .conteiner-takeaway .conteiner-local .conteiner-bici .img-bici {
    width: 20rem;
    height: 25rem;
  }
}
/*responsive max width 320px seccion CONTACTO*/
@media (max-width: 320px) {
  .titulos {
    text-align: center;
  }
  .contacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
  }
  .contacto .contacto-texto {
    text-align: center;
    text-align: justify;
  }
  .formulario {
    width: 300px;
    height: 500px;
  }
  .formulario-texto-mensaje {
    height: 150px;
  }
  .map {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
