@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "extrabold-fond";
  src: url("../assets/fonts/extrabold.ttf");
}
@font-face {
  font-family: "regular-fond";
  src: url("../assets/fonts/PlayfairDisplay-Regular.ttf");
}
/*estilos nav*/
.navbar {
  background-color: #DAF0F3;
  border-radius: 3.125rem;
  margin-top: 1rem;
  margin-bottom: 5rem;
  text-decoration: none;
  font-family: "extrabold-fond";
  color: #776140;
  font-size: 1.5625rem;
}

.nav-item a :hover {
  color: #F9C5DC;
}

.nav-item a {
  color: #776140;
}

.logo {
  width: 16rem;
  height: 8rem;
}

.iconos-nav {
  width: 2rem;
  height: 2rem;
}

.principal {
  background-image: url("../assets/img/foto-main.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 3.125rem;
}
.principal .eatme {
  font-size: 70px;
}
.principal a {
  text-decoration: none;
  font-family: "extrabold-fond";
  font-size: 12rem;
  color: #F5F1EC;
  text-align: center;
  padding-top: 8rem;
  padding-right: 5rem;
  padding-bottom: 5rem;
  padding-left: 5rem;
}

section div .titulos {
  font-family: "extrabold-fond";
  font-size: 2.5em;
  text-align: center;
  color: #776140;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.conte section div .titulos {
  font-family: "extrabold-fond";
  font-size: 2.5em;
  text-align: center;
  color: #776140;
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.conte section .seccion-aboutus {
  display: flex;
  gap: 5rem;
}
.conte section .seccion-aboutus div .img-aboutus {
  width: 30rem;
  height: 30rem;
  margin-left: 11rem;
}
.conte section .seccion-aboutus .texto-aboutus p {
  font-family: "regular-fond";
  font-size: 1.9rem;
  color: #776140;
  margin-right: 6rem;
  text-align: center;
  text-align: justify;
}

.eatme:hover {
  transform: scale(1.8);
}

/*ESTILO F O O T E R*/
.contenedor-footer {
  background-color: #DAF0F3;
  border-radius: 3.125rem;
  margin-bottom: 5rem;
  margin-bottom: 1rem;
  color: #776140;
}
.contenedor-footer h2 {
  font-family: "extrabold-fond";
  font-size: 2.5em;
  text-align: center;
  color: #776140;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.footer {
  display: flex;
  justify-content: space-evenly;
  gap: 10rem;
  padding-bottom: 3.125rem;
}
.footer .secciones-footer ul {
  list-style: none;
}
.footer .secciones-footer ul li a {
  font-family: "extrabold-fond";
  color: #776140;
  text-decoration: none;
}
.footer .conteiner-direccion {
  display: flex;
}
.footer .conteiner-direccion .icono-ubicacion {
  width: 4rem;
  padding-top: 0.625rem;
  padding-right: 2rem;
}
.footer .conteiner-direccion .texto-direccion {
  font-family: "extrabold-fond";
}
.footer .contenedor-redessociales h3 {
  font-family: "extrabold-fond";
  text-align: center;
}
.footer .contenedor-redessociales ul {
  list-style: none;
  display: flex;
  gap: 0.5rem;
}
.footer .contenedor-redessociales ul .iconos-redessociales {
  width: 3rem;
  height: 3rem;
}

/*ESTILO SECCIÓN A B O U T U S */
section div .titulos {
  font-family: "extrabold-fond";
  font-size: 2.5em;
  text-align: center;
  color: #776140;
  margin-top: 5rem;
  margin-bottom: 5rem;
}
section .seccion-aboutus {
  display: flex;
  gap: 5rem;
}
section .seccion-aboutus div .img-aboutus {
  width: 30rem;
  height: 30rem;
  margin-left: 11rem;
}
section .seccion-aboutus .texto-aboutus p {
  font-family: "regular-fond";
  font-size: 1.9rem;
  color: #776140;
  margin-right: 6rem;
  text-align: center;
  text-align: justify;
}

.body {
  background-color: #F9C5DC;
}

/*ESTILO T A K E A W A Y*/
main .titulos {
  font-family: "extrabold-fond";
  font-size: 2.5em;
  text-align: center;
  color: #776140;
  margin-top: 5rem;
  margin-bottom: 5rem;
}
main .takeaway-texto {
  font-family: "extrabold-fond";
  color: #776140;
  text-align: center;
  font-size: 2rem;
}
main .conteiner-takeaway .conteiner-local {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
main .conteiner-takeaway .conteiner-local .contenedor-img-local .img-local {
  width: 20rem;
  height: 25rem;
}
main .conteiner-takeaway .conteiner-local .takeaway {
  font-family: "regular-fond";
  color: #776140;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}
main .conteiner-takeaway .conteiner-local .conteiner-bici .img-bici {
  width: 20rem;
  height: 25rem;
}

/*ESTILO C O N T A C T O*/
main .titulos {
  font-family: "extrabold-fond";
  font-size: 2.5em;
  text-align: center;
  color: #776140;
  margin-top: 5rem;
  margin-bottom: 5rem;
}
main div .contacto-texto {
  color: #776140;
  font-family: "extrabold-fond";
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 4rem;
  font-size: 1.5rem;
  text-align: justify;
}
main div .contacto {
  display: flex;
  justify-content: space-evenly;
}
main div .contacto .formulario {
  font-family: "extrabold-fond";
  color: #776140;
  background-color: #f5f2f2;
  border-radius: 1.125rem;
}
main div .contacto .formulario .form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 2rem;
}
main div .contacto .formulario .form .formulario-texto-nombre {
  display: flex;
  flex-direction: column;
}
main div .contacto .formulario .form .formulario-texto-nombre .rectangulo {
  border-radius: 0.3125rem;
  border-style: solid;
  border-color: #776140;
}
main div .contacto .formulario .form .formulario-texto-email {
  display: flex;
  flex-direction: column;
}
main div .contacto .formulario .form .formulario-texto-email .rectangulo {
  border-radius: 0.3125rem;
  border-style: solid;
  border-color: #776140;
}
main div .contacto .formulario .form .formulario-texto-asunto {
  display: flex;
  flex-direction: column;
}
main div .contacto .formulario .form .formulario-texto-asunto .rectangulo {
  border-radius: 0.3125rem;
  border-style: solid;
  border-color: #776140;
}
main div .contacto .formulario .form .formulario-texto-mensaje {
  display: flex;
  flex-direction: column;
}
main div .contacto .formulario .form .formulario-texto-mensaje .rectangulo {
  border-radius: 0.3125rem;
  border-style: solid;
  border-color: #776140;
  width: 236px;
  height: 150px;
}
main div .contacto .formulario .form .formulario-boton .button {
  border-radius: 3.125rem;
  background-color: #F5F1EC;
  border-style: solid;
  border-color: #776140;
  width: 4rem;
  height: 2rem;
  font-family: "extrabold-fond";
  color: #776140;
  font-size: 0.9rem;
  translate: 150px;
}
main div .contacto div .map {
  width: 500px;
  height: 500px;
  border-radius: 3.125rem;
}

/*responsive max width 1024px seccion TAKEAWAY*/
@media (max-width: 1024px) {
  .conteiner-local {
    display: flex;
    flex-direction: row;
  }
}
/*responsive max width 768px FOOTER*/
@media (max-width: 768px) {
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }
}
/*Responsive max width 768px seccion ABOUT US*/
@media (max-width: 768px) {
  .seccion-aboutus {
    display: flex;
    flex-direction: column;
  }
  .seccion-aboutus div .img-aboutus {
    width: 18rem;
    height: 18rem;
    margin-left: 2rem;
  }
  .seccion-aboutus .texto-aboutus .texto-aboutus p {
    font-size: 0.5rem;
    margin-left: 6rem;
    text-align: center;
    text-align: justify;
  }
  .img-aboutus {
    width: 18rem;
    height: 18rem;
    margin-left: 2rem;
  }
}
/*responsive max width 768px seccion TIENDA*/
/*responsive max width 768px seccion TAKE AWAY*/
@media (max-width: 768px) {
  .conteiner-local {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
/*responsive max width 768px seccion CONTACTO*/
@media (max-width: 768px) {
  .titulos {
    text-align: center;
  }
  .contacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
  }
  .formulario {
    width: 300px;
    height: 500px;
  }
  .formulario .formulario-texto-mensaje {
    width: 100px;
    height: 27px;
  }
  .formulario .formulario-texto-mensaje {
    height: 150px;
  }
  .map {
    width: 100%;
  }
}
/*responsive footer*/
@media (max-width: 320px) {
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }
}
/*Responsive max width 320px seccion ABOUT US*/
@media (max-width: 320px) {
  .seccion-aboutus {
    display: flex;
    flex-direction: column;
  }
  .img-aboutus {
    width: 18rem;
    height: 18rem;
    margin-left: 2rem;
  }
}
/*responsive max width 320px seccion TIENDA*/
@media (max-width: 320px) {
  .cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7.5rem;
  }
  .box {
    flex-direction: column;
  }
}
/*responsive max width 320px seccion TAKEAWAY*/
@media (max-width: 320px) {
  .conteiner-local {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .img-bici {
    width: 15rem;
    height: 20rem;
  }
}
/*responsive max width 320px seccion CONTACTO*/
@media (max-width: 320px) {
  .titulos {
    text-align: center;
  }
  .contacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
  }
  .contacto .contacto-texto {
    text-align: center;
  }
  .formulario {
    width: 300px;
    height: 500px;
  }
  .formulario-texto-mensaje {
    height: 150px;
  }
  .map {
    width: 100%;
  }
  .footer {
    width: 100%;
  }
}
/*Estilo sección T I E N D A*/
/*Cards hechas con Flex*/
section .titulos {
  font-family: "extrabold-fond";
  font-size: 2.5em;
  text-align: center;
  color: #776140;
  margin-top: 5rem;
  margin-bottom: 5rem;
}
section .cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 5rem;
}
section .cards .cards-macarons {
  background-color: #f5f2f2;
  box-shadow: 7px 7px 13px #313131;
  border-radius: 1rem;
  overflow: hidden;
  width: 200px;
  height: 350px;
  cursor: pointer;
}
section .cards .cards-macarons .cards-img {
  width: 100%;
}
section .cards .cards-macarons .cards-texto, section .cards .cards-macarons .galeria .boxes .box .precio, .galeria .boxes .box section .cards .cards-macarons .precio {
  font-family: "extrabold-fond";
  color: #776140;
  text-align: center;
  font-size: 1.5rem;
}
section .cards .cards-macarons .precio {
  font-family: "regular-fond";
  color: #776140;
  font-size: 1.5rem;
}
section .cards .cards-macarons .button-shop {
  border-radius: 3.125rem;
  background-color: #F5F1EC;
  border-style: solid;
  border-color: #776140;
  width: 4rem;
  height: 2rem;
  font-family: "extrabold-fond";
  color: #776140;
  font-size: 0.9rem;
}

/*Gifts hechos con Grid*/
.galeria .galeria-texto .titulos {
  font-family: "extrabold-fond";
  color: #776140;
  text-align: center;
  font-size: 1.9rem;
}
.galeria .galeria-texto p {
  font-family: "extrabold-fond";
  color: #776140;
  text-align: center;
  font-size: 1.9rem;
}
.galeria .boxes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}
.galeria .boxes .box {
  background-color: #f5f2f2;
  box-shadow: 7px 7px 13px #313131;
  border-radius: 1rem;
  overflow: hidden;
  width: 300px;
  height: 500px;
  cursor: pointer;
}
.galeria .boxes .box img {
  width: 100%;
}
.galeria .boxes .box .cards-texto, .galeria .boxes .box .precio {
  font-family: "extrabold-fond";
  color: #776140;
  text-align: center;
  font-size: 1.5rem;
}
.galeria .boxes .box .precio {
  font-family: "regular-fond";
}
.galeria .boxes .box .button-shop {
  border-radius: 3.125rem;
  background-color: #F5F1EC;
  border-style: solid;
  border-color: #776140;
  width: 4rem;
  height: 2rem;
  font-family: "extrabold-fond";
  color: #776140;
  font-size: 0.9rem;
}

.box:hover {
  transform: scale(1.1);
  box-shadow: 13px 15px 37px black;
}

.cards-macarons:hover {
  transform: scale(1.2);
  box-shadow: 13px 15px 37px black;
}

/*# sourceMappingURL=style.css.map */
