@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "extrabold-fond";
  src: url("../assets/fonts/extrabold.ttf");
}
@font-face {
  font-family: "regular-fond";
  src: url("../assets/fonts/PlayfairDisplay-Regular.ttf");
}
/*estilos nav*/
.navbar {
  background-color: #DAF0F3;
  border-radius: 3.125rem;
  margin-top: 1rem;
  margin-bottom: 5rem;
  text-decoration: none;
  font-family: "extrabold-fond";
  color: #776140;
  font-size: 1.5625rem;
}

.nav-item a :hover {
  color: #F9C5DC;
}

.nav-item a {
  color: #776140;
}

.logo {
  width: 16rem;
  height: 8rem;
}

.iconos-nav {
  width: 2rem;
  height: 2rem;
}

.principal {
  background-image: url("../assets/img/foto-main.jpg");
  background-size: cover;
  width: 100%;
  height: 100%;
  border-radius: 3.125rem;
}
.principal a {
  text-decoration: none;
  font-family: "extrabold-fond";
  font-size: 4rem;
  color: #F5F1EC;
  text-align: center;
  padding-top: 18rem;
  padding-right: 15rem;
  padding-bottom: 15rem;
  padding-left: 15rem;
}

section div .titulos {
  font-family: "extrabold-fond";
  font-size: 2.5em;
  text-align: center;
  color: #776140;
  margin-top: 5rem;
  margin-bottom: 5rem;
}
section .conteiner {
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
}
section .conteiner .conteiner-imagenes {
  position: relative;
}
section .conteiner .conteiner-imagenes div .img-bigdream {
  width: 30rem;
  height: 30rem;
}
section .conteiner .conteiner-imagenes div .a {
  position: absolute;
  top: 13rem;
  left: 7rem;
  text-decoration: none;
  font-family: "extrabold-fond";
  font-size: 3.5rem;
  color: #F5F1EC;
}
section .conteiner .conteiner-imagenes {
  position: relative;
}
section .conteiner .conteiner-imagenes div .img-gifts {
  width: 30rem;
  height: 30rem;
}
section .conteiner .conteiner-imagenes div .texto-gifts {
  position: absolute;
  top: 13rem;
  left: 7rem;
  text-decoration: none;
  font-family: "extrabold-fond";
  font-size: 3.5rem;
  color: #F5F1EC;
}

.texto-gifts {
  position: absolute;
  top: 13rem;
  left: 7rem;
  text-decoration: none;
  font-family: "extrabold-fond";
  font-size: 3.5rem;
  color: #F5F1EC;
}

section div .titulos {
  font-family: "extrabold-fond";
  font-size: 2.5em;
  text-align: center;
  color: #776140;
  margin-top: 5rem;
  margin-bottom: 5rem;
}
section .seccion-aboutus {
  display: flex;
  gap: 5rem;
}
section .seccion-aboutus div .img-aboutus {
  width: 30rem;
  height: 30rem;
  margin-left: 11rem;
}
section .seccion-aboutus .texto-aboutus p {
  font-family: "regular-fond";
  font-size: 1.9rem;
  color: #776140;
  margin-right: 6rem;
  text-align: center;
  text-align: justify;
}

/*ESTILO F O O T E R*/
.contenedor-footer {
  background-color: #DAF0F3;
  border-radius: 3.125rem;
  margin-bottom: 5rem;
  margin-bottom: 1rem;
  color: #776140;
}
.contenedor-footer h2 {
  font-family: "extrabold-fond";
  font-size: 2.5em;
  text-align: center;
  color: #776140;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.footer {
  display: flex;
  justify-content: space-evenly;
  gap: 10rem;
  padding-bottom: 3.125rem;
}
.footer .secciones-footer ul {
  list-style: none;
}
.footer .secciones-footer ul li a {
  font-family: "extrabold-fond";
  color: #776140;
  text-decoration: none;
}
.footer .conteiner-direccion {
  display: flex;
}
.footer .conteiner-direccion .icono-ubicacion {
  width: 4rem;
  height: 4rem;
  padding-right: 2rem;
}
.footer .conteiner-direccion .texto-direccion {
  font-family: "extrabold-fond";
}
.footer .contenedor-redessociales h3 {
  font-family: "extrabold-fond";
  text-align: center;
}
.footer .contenedor-redessociales ul {
  list-style: none;
  display: flex;
  gap: 0.5rem;
}
.footer .contenedor-redessociales ul .iconos-redessociales {
  width: 3rem;
  height: 3rem;
}

/*ESTILO SECCIÓN A B O U T U S */
section div .titulos {
  font-family: "extrabold-fond";
  font-size: 2.5em;
  text-align: center;
  color: #776140;
  margin-top: 5rem;
  margin-bottom: 5rem;
}
section .seccion-aboutus {
  display: flex;
  gap: 5rem;
}
section .seccion-aboutus div .img-aboutus {
  width: 30rem;
  height: 30rem;
  margin-left: 11rem;
}
section .seccion-aboutus .texto-aboutus p {
  font-family: "regular-fond";
  font-size: 1.9rem;
  color: #776140;
  margin-right: 6rem;
  text-align: center;
  text-align: justify;
}

.body {
  background-color: #F9C5DC;
}

/*ESTILO T A K E A W A Y*/
main .titulos {
  font-family: "extrabold-fond";
  font-size: 2.5em;
  text-align: center;
  color: #776140;
  margin-top: 5rem;
  margin-bottom: 5rem;
}
main .takeaway-texto {
  font-family: "extrabold-fond";
  color: #776140;
  text-align: center;
  font-size: 2rem;
}
main .conteiner-takeaway {
  margin: 2rem;
}
main .conteiner-takeaway .conteiner-local {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
  margin-bottom: 5rem;
}
main .conteiner-takeaway .conteiner-local div .img-local {
  width: 20rem;
  height: 25rem;
}
main .conteiner-takeaway .conteiner-local .takeaway {
  font-family: "extrabold-fond";
  color: #776140;
  text-align: center;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .conteiner-takeaway .conteiner-local .conteiner-bici .img-bici {
  width: 20rem;
  height: 25rem;
}

/*ESTILO C O N T A C T O*/
main .titulos {
  font-family: "extrabold-fond";
  font-size: 2.5em;
  text-align: center;
  color: #776140;
  margin-top: 5rem;
  margin-bottom: 5rem;
}
main div .contacto-texto {
  color: #776140;
  font-family: "extrabold-fond";
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 4rem;
  font-size: 1.5rem;
  text-align: justify;
}
main div .contacto {
  display: flex;
  justify-content: space-evenly;
}
main div .contacto .formulario {
  font-family: "extrabold-fond";
  color: #776140;
  background-color: #DAF0F3;
  border-radius: 3.125rem;
}
main div .contacto .formulario .form {
  margin-top: 5rem;
  margin-right: 2rem;
  margin-bottom: 5rem;
  margin-left: 2rem;
}
main div .contacto .formulario .form .formulario-texto-nombre {
  display: flex;
  flex-direction: column;
}
main div .contacto .formulario .form .formulario-texto-nombre .rectangulo {
  border-radius: 3.125rem;
  border-color: #776140;
}
main div .contacto .formulario .form .formulario-texto-email {
  display: flex;
  flex-direction: column;
}
main div .contacto .formulario .form .formulario-texto-email .rectangulo {
  border-radius: 3.125rem;
  border-color: #776140;
}
main div .contacto .formulario .form .formulario-texto-asunto {
  display: flex;
  flex-direction: column;
}
main div .contacto .formulario .form .formulario-texto-asunto .rectangulo {
  border-radius: 3.125rem;
  border-color: #776140;
}
main div .contacto .formulario .form .formulario-texto-mensaje {
  display: flex;
  flex-direction: column;
}
main div .contacto .formulario .form .formulario-texto-mensaje .rectangulo {
  border-radius: 3.125rem;
  border-color: #776140;
}
main div .contacto .formulario .form .formulario-boton .button {
  margin-top: 1rem;
}
main div .contacto .map {
  width: 400px;
  height: 400px;
  border-radius: 3.125rem;
}

/*# sourceMappingURL=style.css.map */
