/*Estilo sección T I E N D A*/

/*Cards hechas con Flex*/

section{
    .titulos{
        @include estilotitulos;
    }
    .cards{
        display: flex;
        flex-wrap:wrap;
        justify-content: space-evenly;
        gap: 5rem;
        .cards-macarons{
            background-color: #f5f2f2;
            box-shadow: 7px 7px 13px #313131;
            border-radius: 1rem;
            overflow: hidden;
            width: 200px;
            height: 350px;
            cursor: pointer;
            .cards-img{
                width: 100%;
            }
            .cards-texto{
                font-family: "extrabold-fond";
                color: #776140;
                text-align: center;
                font-size: 1.5rem;
            }
            .precio{
                font-family: "regular-fond";
                color: #776140;
                font-size: 1.5rem;
            }
            .button-shop{
                border-radius: 3.125rem;
                background-color:#F5F1EC;
                border-style: solid;
                border-color: #776140;
                width: 4rem;
                height: 2rem;
                font-family: "extrabold-fond";
                color: #776140;
                font-size: 0.9rem;
            }
        }
    }
}


/*Gifts hechos con flex*/

.galeria{
    .galeria-texto{
        .titulos{
            font-family:"extrabold-fond";
            color:#776140;
            text-align: center;
            font-size:1.9rem;
        }
        p{
            font-family:"regular-fond";
            color:#776140;
            text-align: center;
            font-size:1.9rem;
        }
    }
    .boxes{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap:4rem;
        margin-top: 5rem;
   
      
        .box{
            background-color: #f5f2f2;
            box-shadow: 7px 7px 13px #313131;
            border-radius: 1rem;
            overflow: hidden;
            width: 300px;
            height: 500px;
            cursor: pointer;
            img{
                width: 100%;
            }
            .cards-texto{
                font-family: "extrabold-fond";
                color: #776140;
                text-align: center;
                font-size: 1.5rem;
            }
            .precio{
                @extend .cards-texto;
                font-family: "regular-fond";
            }
            .button-shop{
                border-radius: 3.125rem;
                background-color:#F5F1EC;
                border-style: solid;
                border-color: #776140;
                width: 4rem;
                height: 2rem;
                font-family: "extrabold-fond";
                color: #776140;
                font-size: 0.9rem;
            }
        }
    }



}


.box:hover{
    transform: scale(1.1);
    box-shadow: 13px 15px 37px black;
}

.cards-macarons:hover{
transform: scale(1.2);
    box-shadow: 13px 15px 37px black;
}