.principal{
    background-image: url("../assets/img/foto-main.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 3.125rem;
    a{
        text-decoration: none;
        font-family: "extrabold-fond";
        font-size: 12rem;
        color:#F5F1EC;
        text-align:center;
        padding-top: 8rem;
        padding-right:5rem;
        padding-bottom:5rem ;
        padding-left:5rem;
        a:hover{
            transform: scale(1.1);
            box-shadow: 13px 15px 37px black;
        }
       
    }

}

section{
    div{
        .titulos{font-family: "extrabold-fond";
            font-size: 2.5em;
            text-align:center;
            color:#776140 ;
            margin-top: 5rem;
            margin-bottom:5rem;
        }

    }
}

.conte





/*Estilo seccion about*/

section{
    div{
        .titulos{
            font-family: "extrabold-fond";
            font-size: 2.5em;
            text-align:center;
            color:#776140 ;
            margin-top: 5rem;
            margin-bottom:5rem ;
        }
    }
    .seccion-aboutus{
        display: flex;
        gap: 5rem;
        div{
            .img-aboutus{
                width: 30rem; 
                height: 30rem;
                margin-left: 11rem;
            }
        }
        .texto-aboutus{
            p{
                font-family: "regular-fond";
                font-size:1.9rem ;
                color:#776140; 
                margin-right: 6rem;
                text-align: center;
                text-align: justify;
            }
        }
    }
}



.eatme:hover{
    transform: scale(3.1);

}