/*ESTILO T A K E A W A Y*/

main{
    .titulos{
        font-family: "extrabold-fond";
        font-size: 2.5em;
        text-align:center;
        color:#776140 ;
        margin-top: 5rem;
        margin-bottom:5rem;
    }
    .takeaway-texto{
        font-family:"regular-fond";
        color:#776140;  
        text-align: center;
        font-size: 2rem;
    }
    .conteiner-takeaway{
        .conteiner-local{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 2rem;
            .contenedor-img-local{
                .img-local{
                    width: 20rem;
                    height: 25rem;
                    box-shadow: 4px 4px 8px #313131;
                    border-radius: 3.125rem;
                }
            }
            .takeaway{
                font-family:"regular-fond";
                font-size: 1.5rem;
                color:#776140;  
                text-align: center;
                display: flex;
                flex-direction: column;
                gap: 2rem;
                justify-content: center;
                align-items: center;
                div{
                    :first-child{
                        font-family:"extrabold-fond"  
                    }
                }
            }
            .conteiner-bici{
                .img-bici{
                    width: 20rem;
                    height: 25rem;
                    box-shadow: 4px 4px 8px #313131;
                    border-radius: 3.125rem;
                }
            }


        }

    }

}