
/*ESTILO SECCIÓN A B O U T U S */

section{
    div{
        .titulos{
            @include estilotitulos;
        }
    }
    .seccion-aboutus{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        gap:4rem;
        margin: 4rem;
        .img-aboutus{
                width:480px; 
                height: 400px;
            }
        
        .texto-aboutus{
            p{
                font-family: "regular-fond";
                font-size: 22px;
                color:#776140; 
                text-align:center;
            }
        }
    }
}







.body{
    background-color:#F9C5DC ;
}




