
/*responsive footer*/
@media(max-width: 320px){

    .footer{

        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
        gap:3rem;
        }
}
/*responsive max width 320px seccion Home*/
@media(max-width:320px){
    .conteiner{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3rem;
    }
    

}

/*Responsive max width 320px seccion ABOUT US*/
@media(max-width: 320px){

    .seccion-aboutus{
        display: flex;
        flex-direction: column;
     
        .contenedor-aboutus1{
            display: flex;
            flex-direction:column;
            justify-content: center;
            align-items: center;
            gap: 3rem;
            div{
                .img-aboutus{
                    width: 250px;
                    height: 250px;
                    box-shadow: 2px 2px 4px #313131;
                    border-radius: 1.125rem;
                }
            }
            div{
                :first-child{
                font-family: "extrabold-fond";
                }
                p{
                font-family: "regular-fond";
                font-size: 22px;
                color:#776140; 
                text-align:center;
                }
            }
        }
        .contenedor-aboutus2{
            display: flex;
            flex-direction:column;
            justify-content: center;
            align-items: center;
            gap: 3rem;
            div{
                .img-aboutus{
                    width: 250px;
                    height: 250px;
                    box-shadow: 2px 2px 4px #313131;
                    border-radius: 1.125rem;
                }
            }
            div{
                :first-child{
                font-family: "extrabold-fond";
                }
                p{
                font-family: "regular-fond";
                font-size: 22px;
                color:#776140; 
                text-align:center;
                }
            }
        }
        .contenedor-aboutus3{
            display: flex;
            flex-direction:column;
            justify-content: center;
            align-items: center;
            gap: 3rem;
            div{
                .img-aboutus{
                    width: 250px;
                    height: 250px;
                    box-shadow: 2px 2px 4px #313131;
                    border-radius: 1.125rem;
                }
            }
            div{
                :first-child{
                font-family: "extrabold-fond";
                }
                p{
                font-family: "regular-fond";
                font-size: 22px;
                color:#776140; 
                text-align:center;
                }
            }
        }    
    }
    

}


/*responsive max width 320px seccion TIENDA*/


@media(max-width:320px){
    .cards{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 7.5rem;
        
    }
    .box{
        flex-direction: column;  
        }
        
}

/*responsive max width 320px seccion TAKEAWAY*/

@media (max-width:320px){
main{
        .titulos{
        }
        .takeaway-texto{
        }
        .conteiner-takeaway{
            .conteiner-local{
                display: flex;
                flex-direction: column;
                justify-content: center;
                .contenedor-img-local{
                    .img-local{
                        width: 20rem;
                        height: 25rem;
                    }
                }
                .takeaway{
                    font-size: 1.1rem;
                }
                .conteiner-bici{
                    .img-bici{
                        width: 20rem;
                        height: 25rem;
                    }
                }  
            }
        }
    }
}







/*responsive max width 320px seccion CONTACTO*/

@media (max-width:320px){
.titulos{
    text-align: center;
}
.contacto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    .contacto-texto{
        text-align: center;
        text-align: justify;
    }
}
.formulario{
    width: 300px;
    height: 500px;
}
.formulario-texto-mensaje{
  height: 150px;
 }

.map{
    width:100%;
}
}
