


@media(max-width: 768px){
    
/*responsive max width 768px FOOTER*/
    .footer{
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
        gap:3rem;
        }

/*responsive max width 768px seccion Home*/

    .conteiner{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3rem;
    }
    
    /*responsive max width 768px About us dentro de Home*/
    section{
        div{
            .titulos{
            }
        }
        .aboutus{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap:4rem;
            margin: 1rem;
            .imagen-aboutus{
                    width:450px; 
                    height: 400px;
                    box-shadow: 4px 4px 8px #313131;
                    border-radius: 3.125rem;
                }
        }
    }


/*Responsive max width 768px seccion ABOUT US*/

section{

    .seccion-aboutus{
        .contenedor-aboutus1{
            display: flex;
            flex-direction:column;
        }
        .contenedor-aboutus2{
            display: flex;
            flex-direction:column;
        }
        .contenedor-aboutus3{
            display: flex;
            flex-direction:column;
        }    
    }
}




/*responsive max width 768px seccion TAKE AWAY*/




    main{
            .conteiner-takeaway{
                .conteiner-local{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
 
                }
            }
        }
    

/*responsive max width 768px seccion CONTACTO*/

main{
    .titulos{
    text-align: center;
    gap: 2.5re;
    }
    div{
        .contacto-texto{
            text-align: center;
            text-align: justify;
        } 
        .contacto{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 3rem;
            .formulario{
                width: 300px;
                height: 500px;
                .form{
                    margin: 2rem; 
                    .formulario-texto-nombre{
                    }
                    .formulario-texto-email{
                    }
                    .formulario-texto-asunto{
                    }
                    .formulario-texto-mensaje{
                        height: 150px;
                        }
                    }
                }
            }
            div{
                .map{
                    width: 250px;
                    height: 250px;
                }
            }
        }
    }
}
    









