
@media(max-width: 320px){
    .logo{
        width: 12rem;
        height: 6rem;
        }
        

/*responsive 320px footer*/
    .footer{

        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
        gap:3rem;
        }
        section{
            div{
                .titulos{
                    font-family: "extrabold-fond";
                    font-size: 2.5em;
                    text-align:center;
                    color:#776140 ;
                    margin-top: 5rem;
                    margin-bottom:5rem;
                }
        
            }
        }
        .conteiner{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            .conteiner-imagenes{
                position: relative;
                div{
                    .img-bigdream{
                        width: 18rem; 
                        height: 18rem;
                    }
                }
                div{
                    a{
                        position: absolute;
                        top:7rem;
                        left: 3rem;
                        text-decoration: none;
                        font-size: 1.9rem;
                       &:hover{
                            transform: scale(1.4);
                        }
                    }
                }
            }
            .conteiner-gift{
                position: relative;
                div{
                    .img-regalo{
                        width: 18rem; 
                        height: 18rem;

                    }
                }
                div{
                    a{
                        position: absolute;
                        top:7rem;
                        left: 3rem;
                        font-size: 1.9rem;
                        color:#F5F1EC;
                        &:hover{
                            transform: scale(1.3);
                        }
                    }
                }
        
            }
        }

    
/*responsive about us dentro de Home*/
section{
    div{
        .titulos{
            @include estilotitulos;
        }
    }
    .aboutus{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        gap:4rem;
        margin: 4rem;
        .imagen-aboutus{
                width:18rem;
                height: 18rem;
            }
        
        .texto-aboutus{
            p{
                font-family: "regular-fond";
                font-size: 22px;
                color:#776140; 
                text-align:center;
            }
        }
    }
}


/*Responsive max width 320px seccion ABOUT US*/

section{
    div{
        .titulos{
        }
    }
    .aboutus{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap:4rem;
        margin: 1rem;
        .imagen-aboutus{
                width:250px; 
                height: 200px;
                box-shadow: 4px 4px 8px #313131;
                border-radius: 3.125rem;
            }
    }
}




/*responsive max width 320px seccion TIENDA*/


    .cards{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 7.5rem;
        
    }
    .box{
        flex-direction: column;  
        }
        


/*responsive max width 320px seccion TAKEAWAY*/


main{
        .conteiner-takeaway{
            .conteiner-local{
                display: flex;
                flex-direction: column;
                justify-content: center;
                .contenedor-img-local{
                    .img-local{
                        width: 16rem;
                        height: 21rem;
                    }
                }
                .takeaway{
                    font-size: 1.1rem;
                }
                .conteiner-bici{
                    .img-bici{
                        width: 16rem;
                        height: 21rem;
                    }
                }  
            }
        }
    }








/*responsive max width 320px seccion CONTACTO*/

main{
    .titulos{
    text-align: center;
    gap: 2.5re;
    }
    div{
        .contacto-texto{
            text-align: center;
            text-align: justify;
        } 
        .contacto{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 3rem;
            .formulario{
                width: 300px;
                height: 500px;
                .form{
                    margin: 2rem; 
                    .formulario-texto-nombre{
                    }
                    .formulario-texto-email{
                    }
                    .formulario-texto-asunto{
                    }
                    .formulario-texto-mensaje{
                        height: 150px;
                        }
                    }
                }
            }
            div{
                .map{
                    width: 250px;
                    height: 250px;
                }
            }
        }
    }
}
    


















