
/*responsive footer*/
@media(max-width: 320px){
    .footer{

        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
        gap:3rem;
        }
}

/*Responsive max width 320px seccion ABOUT US*/
@media(max-width: 320px){
    .seccion-aboutus{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
    .img-aboutus{
        width: 15rem;
        height: 15rem;;
    }

    .texto-aboutus{
        p{
            font-size:0.5rem;
            text-align: center;
            text-align: justify;
        }
    }
}
    


/*responsive max width 320px seccion TIENDA*/


@media(max-width:320px){
    .cards{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 7.5rem;
        
    }
    .box{
        flex-direction: column;  
        }
        
}

/*responsive max width 320px seccion TAKEAWAY*/

@media(max-width:320px){
  
        .conteiner-local{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
    }
    .img-bici{
        width: 15rem;
        height: 20rem;
    }
}







/*responsive max width 320px seccion CONTACTO*/

@media(max-width:320px){
.titulos{
    text-align: center;
}
.contacto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    .contacto-texto{
        text-align: center;
        text-align: justify;
    }
}
.formulario{
    width: 300px;
    height: 500px;
}
.formulario-texto-mensaje{
  height: 150px;
 }

.map{
    width:100%;
}
}
