@font-face {
    font-family:"extrabold-fond";
    src: url("../assets/fonts/extrabold.ttf");
}
@font-face {
    font-family: "regular-fond";
    src: url("../assets/fonts/PlayfairDisplay-Regular.ttf");
}
